#secondary
{
	min-height: 50vh;
	display: none;
	margin-bottom: 70px;

	@media #{$large-up}  
	{
		display: inherit;
	}
}

.blog-header-wrapper
{
	position: relative;
	
	@media #{$large-up}
	{
		margin: rem-calc(130) 0 0 0;
	}

	.mobile-sidebar-link 
	{
		color: #fff;
		position: absolute;
		left: 15px;
		top: 0;
		width: 55px;
		height: 55px;
		z-index: 1;
	}

	.mobile-category-link
	{
		color: #fff;
		position: absolute;
		right: 20px;
		top: 0;
		width: 55px;
		height: 55px;
		z-index: 1;
	}

	@media #{$large-up}  
	{
		.mobile-sidebar-link
		{
			display: none;
		}

		.mobile-category-link 
		{
			display: none;
		}
	}
}

h1 
{
	&.blog-header
	{
		font-size: rem-calc(18);
		line-height: rem-calc(55);
		margin: 0;
		text-align: center;
		position: relative;
		margin-bottom: 0;
		min-height: 55px;

		@media #{$large-up}  
		{
			font-size: rem-calc(75);
			line-height: rem-calc(75);
			background: none;
		}
	}
}

.blog-category-description
{
	text-align: center;
	padding: 0 45px;
	margin: 20px auto 0;

	p 
	{
		margin: 0;
	}
}

ul 
{
	&.blog_posts
	{
		&#masonry_grid
		{
			margin: 40px 45px 0 45px;

			@media #{$medium-up}  
			{
				margin: 40px calc(5% - 15px) 0 calc(5% - 15px);
			}

			@media #{$large-up}  
			{
				margin: 0 -37px;
			}

			.size-1of2
			{
				width: 100%;

				@media #{$medium-up}  
				{
					width: 50%;
				}
			}
		}
		
		li 
		{
			padding: 0;
			margin-bottom: 35px;
			overflow: hidden;
			transition: all .8s;

			@media #{$medium-up}  
			{
				padding: 0 15px;
				margin-bottom: 60px;

			}

			@media #{$large-up}  
			{
				padding: 0 37px;
				margin-bottom: 60px;

			}

			header
			{
				position: relative;
				overflow: hidden;
				display: inline-block;
				width: 100%;

				.image-wrapper
				{
					overflow: hidden;
					transition: all .5s;
				}

				.entry-link
				{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
				}

			}

			&:hover 
			{
				.image-wrapper
				{
					filter: saturate(2);
				}

			}

			.page-links 
			{
				display: none;
			}

		}
	}

	&.list_categories
	{
		list-style: none; 
		margin: 0 auto;
		text-align: center;
		// border-top: solid 1px #ededed;
		padding: rem-calc(25) 0 rem-calc(130);
		display: none;
		// font-weight: bold;

		@media #{$large-up}  
		{
			display: block;
		}

		li 
		{
			display: inline;
			margin: 0 20px;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: bold;
			
			a
			{
				&:hover
				{
					font-weight: bold;
				}
			}

			&.current-cat
			{
				font-weight: bold;

				a 
				{
					font-weight: bold;
				}
			}
		}
	}

	&.mobile-categories
	{
		position: absolute;
		left: 6%;
		top: 100%;
		width: 88%;
		height: auto;
		margin-top: -10px;
		z-index: 999;
		list-style: none;
		background: #FFF;
		margin-left: 0;
		padding: 10px 5px;
		box-sizing: border-box;
		box-shadow: 0 0 0.3125em rgba(0,0,0,0.20);
		display: none;

		@media #{$medium-up}  
		{
			display: none;
		}

		li 
		{
			text-align: center;
			
			&.current-cat
			{
				background: #e5e5e5;
			}

			a 
			{
				text-transform: uppercase;
				font-size: rem-calc(12);
				line-height: rem-calc(40);
			}
		}
	}
}