/**********************************************************************************/
/* Theme Options ******************************************************************/
/**********************************************************************************/

/* Menus */

.menu .menu-item .field-background-url {
	display:none;
}

.menu .menu-item-depth-0 .field-background-url {
	display:block;
}

/* Theme Welcome Page */

.stripe_top
{
	display: block;
	width: 100%;	
	height: 6px; 
	background: #ffc741;
	margin-left: -20px;
	padding-right: 20px;
}

.getbowtied-welcome-wrap
{
	max-width: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.getbowtied-welcome-wrap .video-guide
{
	text-decoration: none;
	margin-top: 30px;
	display: inline-block;
}

.getbowtied-welcome-wrap .video-guide .dashicons-video-alt3
{
	color: #666;
	margin-right: 4px;
}

.getbowtied-welcome-wrap.getbowtied-about-wrap .inner
{
	text-align: center;
	max-width: 800px;
	margin: 150px auto;
}

.getbowtied-welcome-wrap .inner img 
{
	max-width: 510px;
	margin-bottom: 60px;
}

.getbowtied-welcome-wrap .inner .button
{
	height: 51px;
	width: 300px;
	line-height: 51px;
	font-size: 16px;
	font-weight: bold;
	margin-top: 40px;
}

.getbowtied-welcome-wrap h1 
{
	margin: 0;
	color: #23282D;
	font-size: 32px;
}

.getbowtied-welcome-wrap p 
{
	color: #666666;
	font-size: 19px;
}

.getbowtied-welcome-wrap h1 a 
{
	float: right;
	margin: 22px 0 0 10px !important;
}

.getbowtied-welcome-wrap .left 
{
	float: left;
	max-width: 74%;
	display: block;
}

.getbowtied-welcome-wrap .left p 
{
	font-size: 19px;
	line-height: 30px;
	color: #666666;
}

.getbowtied-welcome-wrap .right 
{
	float: right;
	max-width: 25%;
	display: block;
	padding-top: 19px;
}

.getbowtied-welcome-wrap .version
{
	font-size: 14px;
	font-weight: normal;
	color: #999999;
	margin: 8px 0 20px 0;
}

.getbowtied-welcome-wrap .button .dashicons
{
	line-height: 26px;
}

.getbowtied-welcome-wrap .nav-tab.disabled
{
	color: #999999;
	pointer-events: none;
	font-size: 16px;
	font-weight: normal;
	margin-left: 0;
	margin-right: 8px;
}

#toplevel_page_getbowtied_theme .dashicons-before:before {
    content: "\f108";
}