.woocommerce {

	.variation {

        dt {

        	display: none;

        }

        dd {

        	text-transform: uppercase;
        	border-width: 2px;
        	border-style: solid;
        	border-color: $secondary-color;
        	border-radius: 5px;
        	display: inline-block;
        	padding: 0 rem-calc(5);

        	p {
        		font-size: rem-calc(10);
        		line-height: 1.3em;
                margin-top: 3px;
        		letter-spacing: 0.1em;
        		font-weight: bold;
        		color: $secondary-color;
        	}
            
        }

    }

}