section.error-404
{

	padding: 0 30px; 
	width: 100%;
	max-width: 868px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 80px;
	

	@media #{$large-up}  
	{	
		padding: 0;
		margin-bottom: 100px;
	}

	.page-content 
	{
		@media #{$large-up}  
		{
			display: table;
			vertical-align: middle;
			height: 400px;
			position: relative;
		}

		.icon-404
		{
			display: none; 

			@media #{$large-up}  
			{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				background: url(../images/large-404.png) center center no-repeat;
				display: block;
			}
		}

		p 
		{
			font-size: rem-calc(24);
			line-height: rem-calc(30);
			font-weight: bold;
			text-align: center;
			

			@media #{$large-up}  
			{
				font-size: rem-calc(48);
				line-height: 1.25;
				z-index: 2;
				position: relative;
				display: table-cell;
				vertical-align: middle;
			}

			&:before 
			{
				content: "404";
				font-size: rem-calc(75);
				line-height: rem-calc(75);
				display: block;
				margin-bottom: 10px;

				@media #{$large-up}  
				{
					display: none;
				}
			}
		}

	}

	form
	{
		position: relative;
        margin-top: rem-calc(30);
        z-index: 2;

		@media #{$large-up} 
		{
			margin-top: rem-calc(70);
		}        

        input 
        {
            &:not([type="submit"])
            {
                border-top: none;
                border-left: none;
                border-right: none;
                border-width: 2px;
				font-size: rem-calc(18);
				border-bottom: none;
				padding-right: 40px;
            }

            &[type="submit"]
			{
				position: absolute;
				top: 0;
			    right: 0px;
			    width: 40px;
			    height: 40px;
				background: none;
				opacity: 0;
				z-index: 999;
				padding: 0;
				margin: 0;
			}
        }

  
        label 
        {
            font-weight: bold;
            transition: all 0.3s;
            font-size: rem-calc(18);

            .screen-reader-text
            {
            	display: none;
            }
        }

        &:after 
		{
			position:absolute;
	        font-family: FontAwesome;
	        font-size: rem-calc(16);
	        top: 0;
	        right: 16px;
	        height: 40px;
	        width: 20px;
	        content: "\f002";
	        color: #737373;
	        text-align: right;
	        line-height: rem-calc(40);
		}

	}
}
