.bg-image-wrapper
{
	height: 305px; 
	width: 100%;
	height: 305px;
	overflow: hidden;
	transition: all .3s ease-in-out;

	.bg-image
	{
		width: 100%;
		height: 100%;
		background-position: center !important;
		background-size: cover !important;
		position: relative;
		transition: all .3s ease-in-out;
		
		&:before
		{
		    content: "";
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    transition: all .3s ease-in-out;
		    z-index: 3;
		    background: rgba(0, 0, 0, 0);
		}
	}
}

