/**********************************************************************************/
/* Theme Options ******************************************************************/
/**********************************************************************************/
/* Menus */
.menu .menu-item .field-background-url {
  display: none;
}

.menu .menu-item-depth-0 .field-background-url {
  display: block;
}

/* Theme Welcome Page */


.getbowtied-welcome-wrap
{
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.getbowtied-welcome-wrap .video-guide
{
  margin-bottom: 120px;
  text-decoration: none;
  margin-top: 30px;
  display: inline-block;
}

.getbowtied-welcome-wrap .video-guide .dashicons-video-alt3
{
  color: #666;
  margin-right: 4px;
}

.getbowtied-welcome-wrap.getbowtied-about-wrap .inner
{
  text-align: center;
  max-width: 800px;
  margin: 220px auto;
}

.getbowtied-welcome-wrap .inner img 
{
  max-width: 510px;
  margin-bottom: 60px;
}

.getbowtied-welcome-wrap .inner .button
{
  font-size: 16px;
  margin-top: 48px;
  font-weight: 500;
  background-color: #81B536;
  border: 1px solid #6E9B2F;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 0 #6E9B2F;
  padding: 15px 92px 14px;
  display: inline-block;
  height: auto;
  text-shadow: none;
  line-height: 18px;
}

.getbowtied-welcome-wrap h1 
{
  margin: 0;
  color: #23282D;
  font-size: 36px;
  line-height: 26px;
}

.getbowtied-welcome-wrap p 
{
  margin-top: 48px;
  margin-bottom: 0;;
  font-size: 18px;
  line-height: 26px;
  color: #747474;
  font-weight: 500;
}

.getbowtied-welcome-wrap p b 
{
  font-weight: bold;
}

.getbowtied-welcome-wrap .theme-disclaimer
{
  font-size: 13px;
  line-height: 16px;
  color: #9B9B9B;
  padding: 0 100px;
  max-width: 528px;
    margin: 0 auto;
}

.getbowtied-welcome-wrap h1 a 
{
  float: right;
  margin: 22px 0 0 10px !important;
}

.getbowtied-welcome-wrap .left 
{
  float: left;
  max-width: 74%;
  display: block;
}

.getbowtied-welcome-wrap .left p 
{
  font-size: 19px;
  line-height: 30px;
  color: #666666;
}

.getbowtied-welcome-wrap .right 
{
  float: right;
  max-width: 25%;
  display: block;
  padding-top: 19px;
}

.getbowtied-welcome-wrap .version
{
  font-size: 14px;
  font-weight: normal;
  color: #999999;
  margin: 8px 0 20px 0;
}

.getbowtied-welcome-wrap .button .dashicons
{
  line-height: 26px;
}

.getbowtied-welcome-wrap .nav-tab.disabled
{
  color: #999999;
  pointer-events: none;
  font-size: 16px;
  font-weight: normal;
  margin-left: 0;
  margin-right: 8px;
}

#toplevel_page_getbowtied_theme .dashicons-before:before {
    content: "\f108";
}

.redux-container .redux-group-tab h3 {
    display: inline-block;
    margin: 0;
    top: -2px;
    position: relative;
}

.getbowtied-about-wrap.about-wrap img
{
  border: none;
}

#toplevel_page_getbowtied_theme .dashicons-before:before {
    content: "\f108";
}