.categories_layout_default
{
	.woocommerce
	{
		.shortcode_products
		{
			li.category_item
			{
				position: relative;
				min-height: 60px;
				list-style: none;
				

				.category_name 
				{
					font-size: rem-calc(21);
					font-weight: bold;
					text-transform: uppercase;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					height: rem-calc(55);
					width: auto;
					padding: 0;
					text-align: center;
					max-width: 100%;
					padding: 0 30px;
					z-index: 5;
					transition:  all .3s ease-in-out;

					a 
					{
						text-align: center;
						padding: 20px 25px 20px 30px;
						display: inline-block;
						font-size: rem-calc(18);
						line-height: 1.2;

						max-width: 100%;

						@media #{$large-up}
						{
							font-size: rem-calc(21);
							min-width: auto;
						}
					}

					span.count 
					{
						float: right;
						font-size: rem-calc(12);
						margin-left: rem-calc(5);
						font-weight: normal;
					}
				}

				.category_thumbnail
				{
					position: relative;
					overflow: hidden;

					a 
					{
						&:before 
						{
							content:"";
							display: block;
							position:absolute;
							top:0;
							left:0;
							width:100%;
							height:100%;
							transition: all .8s ease-in-out;
							z-index: 3;
						}

						img 
						{
							transition: all 2s cubic-bezier(0, 0, 0.44, 1.18);
						}
					}
				}



				&:hover 
				{
					.category_thumbnail
					{
						a 
						{
							&:before 
							{
								background:rgba(0,0,0,0.5);
								display: block;
							}

							img 
							{
								transform: scale(1.08, 1.08);
							}
						}
					}

					.category_name 
					{
						transform: scale(1.05, 1.05);
					}
				}
			}
		}
	}
}