.categories_layout_3
{
	.woocommerce
	{
		.shortcode_products
		{
			&:after
			{
				content: "";
				display: block;
				clear: both;	
			}

			.category_item
			{
				width: 100%; 
				display: inline-block;   
				margin-bottom: rem-calc(20);
				
				@media #{$large-up}
				{
					width: calc(37.5% - 94px);
					margin: 0 rem-calc(47) rem-calc(170); 					 
				}

				.category_thumbnail_wrapper
				{
					position: relative; 
					overflow: hidden;
					height: 300px; 
					
					@media #{$large-up}
					{
						height: rem-calc(396);
					}
					
					.category_thumbnail
					{
					    height: 100%;
	    				background-position: center center !important;
	    				background-repeat: no-repeat !important;
	    				background-size: cover !important;
	    				transition: all 0.5s;
	    				position: relative;	
					}
				}

				
				&:nth-child(8n+5),
				&:nth-child(8n+2)
				{
					width: 100%; 
					float: left;
					
					@media #{$large-up}
					{
						width: calc(62.5% - 94px);
					}
					
					.category_thumbnail_wrapper
					{
						@media #{$large-up}
						{
							height: rem-calc(640); 
						}
					}			
							
				}

				&:nth-child(4n+4),
				&:nth-child(4n+3)
				{
					width: 100%; 
					float: left;
					
					
					@media #{$large-up}
					{
						width: calc(50% - 94px);
						
					}

					&:nth-child(even)
					{
						@media #{$large-up}
						{
							position: relative;
							top: -185px; 
						}
					}
					
					
					.category_thumbnail_wrapper
					{
						@media #{$large-up}
						{
							height: rem-calc(510);
						}
					}	
					
				}

				&:hover
				{
					.category_thumbnail
					{
						filter: saturate(2);						
					}		
				}
			}

			.category_name 
			{
				font-size: rem-calc(21);
				font-weight: bold;
				padding: 0;
				text-align: left;
				max-width: 100%;
				z-index: 5;
				transition:  all .3s ease-in-out;
				margin-top: rem-calc(30); 
				margin-bottom: rem-calc(20); 
				padding: 0 rem-calc(30) ; 
				
				@media #{$large-up}
				{
					max-width: rem-calc(390);
					padding: inherit;
				}

				a 
				{
					text-align: center;
					display: inline-block;
					font-size: rem-calc(18);
					line-height: 1.2;
					margin-bottom: rem-calc(20);

					@media #{$large-up}
					{
						font-size: rem-calc(21);
						min-width: auto;
					}
				}

				span.count 
				{
					float: right;
					font-size: rem-calc(12);
					margin-left: rem-calc(5);
					font-weight: normal;
				}
			} 	
		}
		
	}
}