.getbowtied_blog_ajax_load_button 
{

	clear: both;
	display: block;
	padding: rem-calc(100) 0;
	text-align: center;
	font-weight: bold;
	font-size: rem-calc(18);

	a 
	{
		display: block;
	}

	&.finished a 
	{
		cursor: default;
	}

}

.getbowtied_blog_ajax_load_more_loader 
{
	clear: both;
	display: block;
	padding: rem-calc(100) 0;
	text-align: center;
	font-weight: bold;
	font-size: rem-calc(18);
}