@mixin widget() {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: $primary-color;
    padding: rem-calc(35) rem-calc(40);
    margin: 0;
    font-size: rem-calc(10);

    h4
    {
        &.widget-title
        {
            font-size: rem-calc(14);
            margin-bottom: rem-calc(25);
            text-transform: uppercase;

            a {
                img {
                    display: none;
                }
            }
        }
    }

    a 
    {
        font-weight: bold;
    }

    ul 
    {
        list-style: none;
        padding: 0;
        margin: 0 0 0 0;

        &.children 
        {
            margin: rem-calc(10) 0 0 rem-calc(20);
        }

        li 
        {
            margin-bottom: rem-calc(10);
            font-size: rem-calc(12);
            text-transform: uppercase;  
            position: relative;           

            &:last-child {
                margin-bottom: 0;
            }

            span.count,
            span.post_count
            {
                transition: all .3s ease;
                position: absolute;
                right: 0;
                top: 0;
            }

        }
    }
}

@mixin widget_ul_li_a($default_icon, $hover_icon, $chosen_icon, $chosen_hover_icon) { 
    ul
    {
        li
        {
            > a
            {
                position: relative;
                display: inline-block;
                padding: 0 2.5em 0 2em;

                &:before 
                {
                    content: $default_icon;
                    font-family: FontAwesome;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 1.2em;
                    color: $secondary-color-light;
                    font-weight: normal;
                    position: absolute;
                    left: 0;
                    top: -0.2em;
                    transition: all 0.3s ease;
                }

                &:hover
                {                        
                    transform: translate3d(10px, 0, 0);
                    color: $primary-color;

                    ~ span.count,
                    ~ span.post_count
                    {
                        color: $primary-color;
                    }

                    &:before 
                    {
                        content: $hover_icon;
                    }                  
                }
            }

            &.chosen,
            &.current-cat
            {
                > a
                {
                    &:before 
                    {
                        content: $chosen_icon;
                    }

                    &:hover
                    {
                        &:before 
                        {
                            content: $chosen_hover_icon;
                        }                
                    }
                }
            }
        }
    }
}

@mixin widget_lists($default_icon, $hover_icon, $left_offset, $top_offset) {
	
	ul {
		
		li {
			text-transform: none;
			
			padding: 0 0 .5em 2em;
			position: relative;

			&:last-child {
                padding: 0 0 0 2em;
            }

			&:before 
            {
                content: $default_icon;
                font-family: FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 1.2em;
                color: $secondary-color-light;
                font-weight: normal;
                position: absolute;
                left: $left_offset;
                top: $top_offset;
                transition: all 0.3s ease;
            }

            &:hover
            {                 
                &:before 
                {
                    content: $hover_icon;
                }                  
            }
		}
	}
}

@mixin widget_tags() {

	a 
    {
        text-transform: uppercase;
        color: $secondary-color-light;
        border: solid rem-calc(2) $secondary-color-ultra-light;
        padding: rem-calc(3) rem-calc(8);
        border-radius: rem-calc(3);
        margin: 0 rem-calc(6) rem-calc(6) 0 ;
        display: inline-block;
        font-size: rem-calc(10) !important;
        line-height: rem-calc(10);
        letter-spacing: 0.15em;
        transition: color .3s ease;

        &:hover 
        {
            background: $primary-color;
            border: solid rem-calc(2) $primary-color;
            color: #fff;
        }
    }
}

@mixin widget_search() {
	
	.screen-reader-text 
    {
        display: none;
    }
    
    form 
    {
        
        position: relative; 

        &:after 
        {
            position: absolute;
            right: 0px;
            bottom: 0;
            height: 100%;
            width: 40px;
            overflow: hidden;
            padding: 0;
            font-size: rem-calc(14);
            line-height: rem-calc(40);
            content: "\f002";
            font-family: FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: $secondary-color-light;
            text-align: center;
        }

        input
        {
            background: #fff;
            margin: 0;
        }

        input[type="submit"]
        {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 40px;
            overflow: hidden;
            padding: 0;
            text-indent: -999px;
            z-index: 10;
            background: none;
        }
    }
}

@mixin widget_products() {
	
	li 
	{
		position: relative;
		display: inline-block;
		width: 100%;
		min-height: rem-calc(80);
		font-size: rem-calc(12);
		padding: 0 0 0 rem-calc(90);
		text-transform: none;

		a 
		{
			display: block;
			font-size: rem-calc(12);
			line-height: 1.4em;
			width: 100%;
			margin-bottom: rem-calc(5);
		}

		img 
		{
			max-width: rem-calc(70);
			margin-right: rem-calc(20);
			position: absolute;
			left: 0;
			top: 0;
		}

		.star-rating
		{
			font-size: rem-calc(14);
		}

		.reviewer 
		{
			display: block;
		}

		del {

		}

		ins {
			text-decoration: none;
		}

	}
}

@mixin widget_dropdown() {
	
	.screen-reader-text {
		display: none;
	}

	select {
		background-color: #fff;
		text-transform: uppercase;
	}

}