.woocommerce-cart {

	.page-title {
		margin: 0;
	}
	
	.row {
		max-width: 100%;
	}

	.column, .columns {
		padding: 0;
	}

	.entry-content .woocommerce {
		
		display: table;
		width: 100%;
		min-height: calc(100vh - 200px);

		form {

			display: block;
			
			@media #{$large-up}  {
				display: table-cell;
			}

			vertical-align: top;

			> p { margin:0; }

			table {

				thead {

					display: none;

					th {

						padding: rem-calc(20) rem-calc(0);

						&.product-remove {
							display: none;
						}

						&.product-thumbnail {
							display: none;
							@media #{$large-up}  { display: table-cell; }
						}

						&.product-name {
							padding: rem-calc(20) rem-calc(30);

							@media #{$medium-up}
							{
								padding: rem-calc(20) rem-calc(40);
							}
						}

						&.product-price {
							display: none;
							@media #{$medium-up}  { display: table-cell; }
						}

					}

				}

				tbody {

					tr:last-child {
						border: 0;
					}				

					td {
						
						padding: rem-calc(20) 0;
						vertical-align: middle;
						color: $secondary-color;

						@media #{$medium-up}
						{
							padding: rem-calc(40) 0;
							vertical-align: top;
						}

						&.product-remove {
						    width: 10%;
						    text-align: center;
						}

						&.product-thumbnail {
							padding: 0;
							width: 15%;
							vertical-align: top;
							display: none;
							@media #{$large-up}  { display: table-cell; vertical-align: middle; }

							img {
								width: 100%;
							}
						}

						&.product-name {

							width: 50%;
							@media #{$large-up}  { width: 35%; }
							padding: rem-calc(20) rem-calc(30);

							@media #{$medium-up}
							{
								padding: rem-calc(40);
							}
							
							a {
								color: $primary-color;
								font-weight: bold;
								font-size: rem-calc(14);
							}

							dl, dd {
								margin: 0;
							}

						}

						&.product-price {

							display: none;
							@media #{$medium-up}  
							{ 
								display: table-cell; 
								font-size: rem-calc(16);
							}

						}

						&.product-quantity {

							.quantity {

								input.qty {

									margin-top: -16px;

								}

							}

						}

						&.product-subtotal {

							width: 30%;
							padding-right: rem-calc(30);

							@media #{$medium-up}
							{
								// width: 20%;
								width: 10%;
								padding-right: rem-calc(40);
								font-size: rem-calc(16);
							}

							.remove {
								float: right;
								font-size: rem-calc(22);
								font-weight: bold;
								display: inline-block;
								margin-top: rem-calc(1);
							}

						}

						&.actions {

							padding: rem-calc(30);

							@media #{$medium-up}
							{
								padding: rem-calc(40);
							}

							.button {
								float: left;
								margin-left: 20px;
								background: none;
								color: $primary-color;
								border-width: 2px;
								border-style: solid;
								border-color: $secondary-color;
								padding: 14px 20px;

								&[name="update_cart"]
								{
									float: right;
								}
							}

							.coupon {
								
								float: left;
								width: 100%;
								position: relative;
								padding-bottom: rem-calc(65);

								@media #{$medium-up}
								{
									width: 70%;
									padding-bottom: 0;
								}

								label {
									display: none;
								}

								#coupon_code {
									width: 100%;
									float: left;
									margin: 0;
									height: 45px;
									text-transform: uppercase;
									margin-top: 0px;

									@media #{$medium-up}
									{
										width: 50%;
									}

									@media #{$xlarge-up}
									{
										width: 65%;
									}
								}
								
								.button {
									position: absolute;
									right: 0;
									padding: 14px 20px;
									bottom: 0;
									width: 100%;

									@media #{$medium-up}
									{
										position: relative;
										width: auto;
									}
								}

							}

							> input[type="submit"]
							{
								width: 100%;
								margin-top: rem-calc(20);

								@media #{$medium-up}
								{
									margin-top: 0;
									width: auto;
								}
							}

						}

					}

				}

			}

		}

		.cart-collaterals {

			display: block;
			width: 100%;
			padding: 30px 30px 0 30px;
			background: #f1f1f1;

			@media #{$medium-up}
			{
				padding: 50px;
			}

			@media #{$large-up} 
			{ 
				display: table-cell;
				width: 40%; 
			}

			@media #{$xlarge-up}
			{
				padding: 70px;
				width: 33.33%;
			}

			.cart_totals {


				h2 {
					text-transform: uppercase;
					font-size: rem-calc(24);
					margin-bottom: 1em;
				}

				table {

					tr:last-child
					{
						border-bottom: none;
					}

					th {
						width: 30%;
						vertical-align: top;
						font-weight: bold;
						font-size: rem-calc(14);

						/*@media #{$large-up}
						{
							width: 50%;
						}*/

					}

					td {
						width: 70%;
						text-transform: uppercase;
						font-size: rem-calc(13);
						vertical-align: top;

						/*@media #{$large-up}
						{
							width: 50%;
						}*/
					}

					.cart-subtotal {

						td {
							font-size: rem-calc(18);
							font-weight: bold;
						}
					}

					.shipping {

						#shipping_method {
							list-style: none;
							margin: 0;

							label {
								margin: 0;
								font-size: rem-calc(12);
							}

							input[type="file"], input[type="checkbox"], input[type="radio"], select {
								margin-bottom: .7em;
							}
						}

						.woocommerce-shipping-calculator {

							.shipping-calculator-button {
								display: inline-block;
								text-transform: none;
								font-size: rem-calc(12);
								margin: rem-calc(10) 0 rem-calc(20) 0;
								font-weight: bold;
							}

							.shipping-calculator-form {
								
								.form-row {
									padding: 0;
								}

								button.button
								{
									width: 100%;
								}

								select 
								{
									margin: 0;
								}

							}

						}

					}

					.order-total {

						td {
							font-size: rem-calc(21);
							font-weight: bold;
						}

					}

				}

				.wc-proceed-to-checkout {

					position: relative;
					// margin-bottom: 220px;
					// 
					#woo_pp_ec_button.wcppec-checkout-buttons__button {
						background: none !important;
					}
					
					.wcppec-checkout-buttons.woo_pp_cart_buttons_div
					{
						text-align: center;

						.wcppec-checkout-buttons__separator
						{
							font-size: 12px;
							padding: 10px 0px;
						}

						#woo_pp_ec_button.wcppec-checkout-buttons__button {
							background: none !important;
						}
					}
					
					a {

						
						font-size: rem-calc(16);
						padding-top: rem-calc(25);
						padding-bottom: rem-calc(25);
						margin-top: rem-calc(25);
						background-color: $secondary-color;
						margin-bottom: 0;
						width: calc( 100% + 60px );
						margin-left: -30px;

						@media #{$medium-up}
						{
							width: 100%;
							margin-left: 0;
							margin-bottom: 0;
						}
					}

				}

			}

			.cross-sells {
				
				margin-top: rem-calc(70);

				h2 {
					text-transform: uppercase;
					font-size: rem-calc(13);
					margin-bottom: 1.5em;
				}

				ul.products-grid {
					margin: -(rem-calc(10));
				}

				li.product:nth-child(2n+1){
					clear: both !important;
				}
				li.product:nth-child(2n){
					clear: none !important;
				}

				li.product {

					padding: rem-calc(10);
					width: 50%;
					.shop-product-badges,
					.star-rating,
					// h3, 
					.product_after_shop_loop
					{
						display: none;
						padding: 0;
					}

					h3 
					{
						font-size: rem-calc(12);

						@media #{$large-up}
						{
							font-size: rem-calc(14);
						}
					}

					.shop_product_metas
					{
						background: transparent;

					}

					.shop_product_buttons_wrapper
					{
						.shop_product_buttons
						{
							a.button
							{
								padding: 0;
								width: 30px;
								height: 16px;
								color: transparent;
								overflow: hidden;
								white-space: nowrap;
								padding: 0;

								&:before 
								{
									position: absolute;
									left: 0;
									top: 0;
									color: #000;
									width: 100%;
								}
							}
						}
					}

					@media #{$large-up}
					{

						&:hover 
						{
							box-shadow: none;
						}
					}
				}

			}

		}

	}

}