.woocommerce {

	.woocommerce-billing-fields {
        
       h3 
       {
            font-size: $h3-font-size;
            text-transform: uppercase;
            margin-bottom: rem-calc(40);
       }

	}

}