.woocommerce-order-received
{
	.woocommerce 
	{

		padding: rem-calc(30) 0;
		margin-bottom: rem-calc(50);

		> p:first-child
		{
			font-size: rem-calc(30);
			font-weight: bold;
			line-height: 1.05em;
			padding-bottom: rem-calc(60);
			letter-spacing: -0.05em;

			@media #{$large-up} 
    		{
    			font-size: rem-calc(120);
    		}
		}

		p {

		}

		ul 
		{
			&.order_details
			{
				list-style: none; 
				display: table; 
				width: 100%;
				margin: 0;
				padding: 0;
				margin-bottom: rem-calc(80);
				border-top: solid 2px $input-border-color;
				padding-top: rem-calc(30);
				margin-top: rem-calc(20);

				li 
				{
					display: block;
					float: left;
					width: 50%;
					padding: 0px 5px; 
					text-align: left;
					text-transform: uppercase;
					font-size: rem-calc(13);
					margin-bottom: rem-calc(15);

					@media #{$large-up} 
		    		{
		    			width: 20%;
		    			display: table-cell;
		    			float: none;
		    			margin-bottom: 0;
		    		}
		

					> strong 
					{
						width: 100%;
						display: block;
						text-transform: none;
						font-size: rem-calc(16);
						
					}
				}

				&.bacs_details
				{
					li 
					{
						// width: 100%;
						padding-right: 20px;
		    			
		    			&:last-child
		    			{
		    				padding-right: 0;
		    			} 
					}
				}

			}


			&:empty
			{
				display: none;
			}
		}

		h2 
		{
			text-transform: none;
			margin-top: rem-calc(60);
			margin-bottom: rem-calc(20);
			padding: rem-calc(20) 0;
			font-size: rem-calc(30);	

			@media #{$large-up} 
		    {
		    	font-size: $h1-font-size;	
		    }		
		}

		header h2 {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-color: $secondary-color;
		}

		h3 
		{
			display: inline-block;
			margin-top: rem-calc(20);
			font-size: rem-calc(16);
		}

		table 
		{
			&.shop_table
			{
				padding-right: rem-calc(20);
				margin-top: rem-calc(22);

				.wc-item-meta
				{
				    margin: 5px 0 0 0;

				    li
				    {
				    	font-size: 14px;
				    	list-style: none;

				    	p{
				    		display: inline;
    						font-size: 14px;
				    	}
				    }
				}

				th 
				{
					font-size: rem-calc(12);
		
				}

				td.product-name
				{
					font-size: rem-calc(16);

					> a 
					{
						
						font-weight: bold;
					}

					.product-quantity {
			
					}
				}

				.amount 
				{
					font-size: rem-calc(16);
					font-weight: normal;

					@media #{$large-up} 
		    		{
		    			font-size: rem-calc(18);
		    		}
		
				}

				tfoot 
				{
					
					tr:last-child {
						border-bottom: none;

						.amount 
						{
							font-weight: bold;
							font-size: rem-calc(16);
							
							@media #{$large-up} 
				    		{
				    			font-size: rem-calc(30);
				    		}
						}
					}

					td {
			
						font-size: rem-calc(13);
						.amount {
							font-size: rem-calc(16);

							@media #{$large-up} 
				    		{
				    			font-size: rem-calc(22);
				    		}
						}

						small.shipped_via
						{
							font-size: 13px;
							padding-left: 5px;
						}
					}
				}

			}

			&.customer_details 
			{
				width: 100%;
				float: left;
				margin-top: rem-calc(10);

				@media #{$large-up} 
		    	{
		    		width: 50%;
					float: left;
		    	}

				tr 
				{
					border-bottom: none;

					th 
					{
						font-weight: bold;
						
					
						padding: rem-calc(10) 0;
						margin: 0;
						text-transform: none;
						max-height: rem-calc(20);
						line-height: rem-calc(20);
						font-size: rem-calc(16);
						font-weight: bold;

						width: 100%;
						float: left;
						display: block;

						@media #{$large-up} 
		    			{
		    				width: 30%;
		    				float: none;
		    				display: table-cell;
		    			}
					}

					td 
					{
						margin: 0;
						padding: 0;

						width: 100%;
						float: left;
						display: block;
						margin-top: rem-calc(15);

						@media #{$large-up} 
		    			{
		    				width: 70%;
		    				float: none;
		    				display: table-cell;
		    				margin-top: 0;
		    			}
					}
				}
			}

		}

		> address 
		{
			width: 100%;
			font-style: normal;
			margin-bottom: 50px;

			@media #{$large-up} 
		    {
		    	width: 50%;
				float: right;
		    }
		}

		.woocommerce-customer-details 
		{
			.woocommerce-columns--addresses
			{
				margin-bottom: 75px;
			}

			> h3.woocommerce-column__title
			{
				float: left;
    			clear: both;
			}

			> address
			{
				float: left;
    			clear: both;
			}

			.woocommerce-column__title
			{
				font-size: rem-calc(30);
			}

			address
			{
				font-style: normal;
			}
		}

		.woocommerce-customer-details--phone,
		.woocommerce-customer-details--email
		{
			margin-bottom: 0px;

			@media #{$small-only} 
			{
				font-size: 18px;
			}
		}

		.addresses
		{
			.col-1, .col-2
			{
				width: 100%;
				display: inline-block;
			}
		}

		@media #{$large-up} 
		{
			.col2-set:not(#customer_login)
			{
				width: 100%;
				float: left;


				.col-1, .col-2 
				{
					width: 50%;
					float: left;
					padding-right: rem-calc(20);

					address 
					{
						font-style: normal; 
					}
				}
			}
		}
	}
}
