.woocommerce 
{

	.woocommerce-tabs 
    {
        
        #reviews 
        {
            
            #comments 
            {
    
                h2 
                {
                    font-size: $h4-font-size;
                    margin-bottom: rem-calc(30);
                    text-align: center;
                    font-weight: normal;
                    border-bottom: solid 1px #dddddd;
                    padding-bottom: rem-calc(30);
                    margin-bottom: rem-calc(30);
                    display: none;
                }

                .woocommerce-noreviews
                {
                    display: none;
                }

                .commentlist 
                {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                .comment_container 
                {
                    padding: 0;
                    position: relative;
                    padding-bottom: rem-calc(40);
                    margin-bottom: rem-calc(40);
                    border-bottom: solid 1px #ddd;
                    text-align: center;
                }

                .avatar 
                {
                    width: rem-calc(50);
                    height: rem-calc(50);
                    border-radius: rem-calc(70);
                    margin: 0 0 rem-calc(15) 0;

                    @media #{$large-up}
                    {
                        width: rem-calc(70);
                        height: rem-calc(70);
                        margin: rem-calc(30) 0 rem-calc(10) 0;
                    }
                }
                
                .star-rating 
                {
                    float: none;
                    display: inline-block;
                    margin-bottom: rem-calc(5);
                    font-size: rem-calc(14);

                    span 
                    {
                        color: #e5b674;
                    }
                }

                .meta 
                {
                    margin-bottom: rem-calc(5);
                    
                    @media #{$large-up}
                    {
                        margin-bottom: rem-calc(20);
                    }
                    
                    strong 
                    {
                        &[itemprop="author"]
                        {
                            display: block;
                            line-height: 1.3;
                            font-size: rem-calc(14);

                            @media #{$large-up} 
                            {
                               font-size: rem-calc(20);
                               letter-spacing: -0.03em;
                            }
                        }
                    }

                    em.verified
                    {
                        display: block;

                        font-size: rem-calc(12);

                        @media #{$large-up} 
                        {
                           font-size: rem-calc(16);
                        }
                    }

                    time 
                    {
                        width: 100%;
                        display: block;
                        font-size: rem-calc(12);
                    }
                }

                .description 
                {
                	padding: rem-calc(10) 0 0 0;
                    color: $secondary-color-medium;
                    max-width: 700px;
                    margin: 0 auto;
                    line-height: 1.6em;

                    @media #{$large-up} 
                    {
                       padding: rem-calc(10) 0 rem-calc(20) 0;
                    }

                    p
                    {
                        padding: 0;
                        color: $secondary-color-medium;
                        margin: 0 auto;
                    }
                }

            }

            #review_form 
            {
                h3 
                {
                    
                    text-align: center;
                    margin: rem-calc(80) auto rem-calc(10) auto;
                    text-transform: capitalize;
                    line-height: 1.2;
                    font-size: rem-calc(24);
                    max-width: 700px;

                    @media #{$large-up} 
                    {
                       font-size: rem-calc(36);
                    }
                }

                #reply-title
                {
                    text-align: center;
                    margin: rem-calc(80) auto rem-calc(10) auto;
                    text-transform: capitalize;
                    line-height: 1.2;
                    font-size: rem-calc(24);
                    max-width: 700px;
                    display: block;

                    @media #{$large-up} 
                    {
                       font-size: rem-calc(36);
                    }
                }

                .comment-notes
                {
                	text-align: center;
                }

                p
                {
                    &.comment-form-rating
                    {
                        text-align: center;

                        label 
                        {
                            display: none;
                        }
                    }

                    &.stars
                    {
                        margin: rem-calc(30) 0 rem-calc(40) 0;
                        font-size: rem-calc(20);
                    }

                    &.comment-form-comment
                    {
                        textarea
                        {
                            //background: #FFF;
                            border: none;
                            padding: rem-calc(30) rem-calc(40);
                            font-size: rem-calc(18);
                            max-height: rem-calc(350);
                            font-weight: normal;
                        }

                        label 
                        {
                            font-size: rem-calc(12);
                        }
                    }

                    &.form-submit
                    {
                        .submit 
                        {
                            width: 100%;
                        }
                    }

                    &.comment-form-author, &.comment-form-email
                    {

                        input 
                        {
                            border: none;
                            //background: #fff;
                        }
                    }
                }

            }
            
        }

	}

}

@media #{$large-up}
{
    .woocommerce 
    {

        .woocommerce-tabs 
        {
            #reviews
            {
                #review_form
                {
                    p
                    {
                        &.comment-form-author
                        {
                            float: left;
                            width: 50%;
                            padding-right: rem-calc(20);
                        }

                        &.comment-form-email
                        {
                            float: left;
                            width: 50%;
                            padding-left: rem-calc(20);
                        }
                    }
                }
            }
        }
    }
}