.woocommerce {

    .related {
    	
        padding: rem-calc(30) 0 rem-calc(50) 0;

        h2 {
            padding: rem-calc(40) 0 rem-calc(30) 0;
            margin: 0;
            text-align: center;
            font-size: $h4-font-size;
        }

        ul.products-grid {

            li:last-child {
                display: none;
                @media #{$xlarge-up} { display: block }
            }

        }

    }

}