.woocommerce {

	ul.products {

		li.product {

			text-align: center;
	        position: relative;
			list-style: none;
			padding: 0;

			//transition: all 0.2s ease;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: opacity 1s ease;
				//transition-delay: .2s;
			}

			&.hidden {
				opacity: 0;
			}

			.product_thumbnail {

				position: relative;
				overflow: hidden;

				> a {
					display: block;
				}

				img {
					transition: transform 0.5s ease;
					//backface-visibility: hidden;
					width: 100%;
				}

				.product_thumbnail_secondary {
					width: 100%;
				    height: 100%;
				    display: block;
				    position: absolute;
				    background-size: cover;
				    background-repeat: no-repeat;
				    opacity: 0;
				    transition: opacity .7s ease, transform 2s cubic-bezier(0,0,.44,1.18);
				}

				.shop_product_buttons_wrapper {
					
					position: relative;
					transition: all 0.3s ease-out;


					@media #{$large-up}
					{
						overflow: hidden;
						opacity: 0;
						position: absolute;
						top: 100%;
						bottom: auto;
						width: 100%;
					}

					.shop_product_buttons {

						border-top-width: 1px;
						border-top-style: solid;

						border-bottom-width: 1px;
						border-bottom-style: solid;

						border-color: #f1f1f1;
						padding: 5px 0;

						.button {
							padding: rem-calc(9) rem-calc(10) rem-calc(7) rem-calc(35);
							margin: 0 rem-calc(5);
							position: relative;
							background: none;
							font-size: rem-calc(12);
							line-height: 1.5em;
							font-weight: bold;

							&:before {
								display: block;
								position: absolute;
								font-family: 'FontAwesome';
								font-family: FontAwesome;
		                        text-rendering: auto;
		                        -webkit-font-smoothing: antialiased;
		                        -moz-osx-font-smoothing: grayscale;
								font-size: rem-calc(16);
								font-weight: normal;
								top: rem-calc(7);
							}

							&.product_type_simple {
								&:before {
									content: "\f07a";
									left: rem-calc(10);
									//top: rem-calc(8);
								}
							}

							&.product_type_variable {
								&:before {
									content: "\f0ca";
									left: rem-calc(10);
									//top: rem-calc(10);
								}
							}

							&.product_type_grouped {
								&:before {
									content: "\f0ca";
									left: rem-calc(10);
									//top: rem-calc(10);
								}
							}

							&.product_type_external {
								&:before {
									content: "\f08e";
									left: rem-calc(10);
									top: 9px;
									//top: rem-calc(10);
								}
							}

							&.getbowtied_product_quick_view_button {
								display: none;

								@media #{$large-up}
								{
									display: inline-block;
								}

								&:before {
									content: "\f06e";
									left: rem-calc(10);
									//top: rem-calc(9);
								}
							}

						}

						.added_to_cart {
							
							display: none;
							font-weight: normal;
							color: $secondary-color;
							position: absolute;
							z-index: 2000;
							top: rem-calc(10);
							left: rem-calc(10);
							width: rem-calc(50);
							height: rem-calc(50);
							//background: #ff0000;
							text-indent: -9999px;
							//border-width: 2px;
							//border-style: solid;
							//border-color: #ccc;
							border-radius: rem-calc(50);

							&:before {
								display: block;
								position: absolute;
								top: 50%;
								left: 50%;
								width: 1em;
								height: 1em;
								margin-top: -0.5em;
								margin-left: -0.5em;
								//background: #fff000;
								font-family: 'FontAwesome';
								font-size: rem-calc(24);
								content: "\f218";
								color: #000;
								text-indent: 0px;
								line-height: 1em;
							}
						}

					}

				}

			}

			.shop_product_metas {
				
				padding: 0 0 20px 0;

				h3 {
					font-size: rem-calc(12);

					@media #{$large-up} 
					{
						font-size: rem-calc(14);
					}

					font-weight: bold;			
					color: $primary-color;
					margin: 0;
					padding: 0 rem-calc(30);
					
					a {
						padding: rem-calc(20) 0 rem-calc(1) 0;
						display: inline-block;
					}
				}
				
				.shop_product_price {
					
		            font-size: rem-calc(12);					
		            font-weight: bold;
		            display: inline-block;
		            margin: 0 rem-calc(5);
		            vertical-align: middle;	            
				}
				
				.star-rating {
					margin: rem-calc(7) auto 0 auto;
					float: none;
					display: block;
					font-size: rem-calc(12);
				}

			}

		}

		@media #{$large-up}
        {
			li.product:hover {

				//box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.25);
				z-index: 1000;

				&::after {
					//box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.15);
					box-shadow: 0px 0px 40px -10px rgba(0,0,0,0.3);
					opacity: 1;
				}

				@media #{$large-up}  {
					.product_thumbnail {

						&:not(.with_second_image) {
							img {
								transform: translate3d(0, -15px, 0);
							}

							.shop_product_buttons_wrapper {
								opacity: 1;
							}
						}

						&.with_second_image
						{
							img 
							{
								opacity: 0;
								transition: opacity 1s ease;
							}
						}

						.product_thumbnail_secondary {
						    opacity: 1;
						    transform: scale(1.08);
						}

						.shop_product_buttons_wrapper {

							opacity: .9;
							transform: translate3d(0, -100%, 0);
							.ie9 & { bottom: 0; top: auto; }

						}

					}
				}

			}
		}

	}

}