.woocommerce {

	.woocommerce-pagination {

        display: block;
        clear: both;

		ul.page-numbers {
            
            margin: 0;
            padding: 0;
            list-style: none;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: $secondary-color-ultra-light;
            
            li {
                float: left;
                //margin-right: 10px;
            }
            
            li:last-child {
                margin-right: 0;
            }
            
            a, .current {
                display: block;
                padding: rem-calc(13) rem-calc(24);
                border-right-width: 1px;
                border-right-style: solid;
                border-right-color: $secondary-color-ultra-light;  
                font-weight: bold;
                font-size: rem-calc(12);
                line-height: rem-calc(25);
                color: $primary-color;
            }

            @media #{$large-up}
            {
                a:hover {
                    //opacity: 0.7;
                    background-color: $primary-color;
                    color: $body-bg;
                }
            }
            
            .current {
                color: $secondary-color-ultra-light;
            }
           
            .prev,
            .next {
                font-size: rem-calc(16);
                line-height: rem-calc(25);
            }
           
            &:after {
                content: "";
                display: block;
                clear: both;
            }
         
        }

	}

}