.shortcode_getbowtied_banner {
	
	cursor:pointer;
	margin-bottom:0;
	clear:both;
	transition: all 0.5s;

	@media #{$large-up}  
	{
		margin-bottom:30px;
	}
	
	position: relative;

	.button 
	{
		margin-top: rem-calc(40);

		&:hover
		{
			opacity: 0.9;
		}
	}

	// &:hover 
	// {
	// 	.button
	// 	{
	// 		opacity: 0.9;
	// 	}
	// }
	
}

.shortcode_getbowtied_banner_inner
{
    
    padding:15px;
    
    overflow: hidden;
    position: relative;
	
    backface-visibility:hidden;
    -webkit-backface-visibility: hidden;
}

.shortcode_getbowtied_banner_inner:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition: all .8s ease-in-out;
	z-index: 3;
}

.shortcode_getbowtied_banner_inner:hover:before
{
	background:rgba(0,0,0,0.5);
}

.shortcode_getbowtied_banner_bkg
{
   	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	
	display: block;
	
	background-color:#f5f5f5;
	background-size: cover;
	background-repeat:no-repeat;
	background-position:center;
	
	-webkit-transition: all 2s cubic-bezier(0, 0, 0.44, 1.18);
	-moz-transition: all 2s cubic-bezier(0, 0, 0.44, 1.18);
	transition: all 2s cubic-bezier(0, 0, 0.44, 1.18);
	
	z-index: 2;
}

.shortcode_getbowtied_banner:hover .shortcode_getbowtied_banner_bkg
{
	// background-size: 102% 102%;
	transform: scale(1.08, 1.08);
}

.shortcode_getbowtied_banner_inside {
	padding:20px;
	text-align:center;
	border:2px solid #fff;
	// transition: all 0.2s linear;
	// -moz-transition: all 0.2s linear;
	// -ms-transition: all 0.2s linear;
	// -o-transition: all 0.2s linear;
	// -webkit-transition: all 0.2s linear;
	display: table;
	width:100%;
	box-sizing: border-box;
	
	position: relative;
	z-index: 5;
}

.shortcode_getbowtied_banner_content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
	z-index: 999;
	transition:  all .3s ease-in-out;
}

.shortcode_getbowtied_banner:hover .shortcode_getbowtied_banner_content
{
	transform: scale(1.05, 1.05);
}

.shortcode_getbowtied_banner_inside h3 {
	padding:0;
	margin:0;
	font-weight:900;
	font-size:1.4375rem;
	line-height: 1.391em;
}

.shortcode_getbowtied_banner_inside h3 strong {
	font-size:28px;
}

.shortcode_getbowtied_banner_inside h3 a {
	text-decoration:underline;
}

.shortcode_getbowtied_banner_inside h4 {
	padding:0;
	margin:0;
	font-size:1rem;
	font-weight: normal;
	line-height: 1.5em;
}

.shortcode_getbowtied_banner_inside h4 a {
	text-decoration:underline;
}

.shortcode_getbowtied_banner_sep {
	width:20%;
	height:2px;
	background:#fff;
	margin:5px auto;
}