.entry-footer {
    
    .tags-links 
    {
    	display: block;
    	text-align: center;

    	a 
    	{
    		margin: 0 7px;
    		padding: 1px 10px;
    		border-style: solid;
    		border-width: 2px;
    		font-size: 10px;
    		text-transform: uppercase;
    		font-weight: bold;
    		border-radius: 2px;
    		letter-spacing: 2px;
    	}
    }

    padding: 0 0 50px 0;

    @media #{$large-up}  
    {
        padding: 0 0 80px 0;
    }

}