.entry-meta 
{
    
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;

	@media #{$medium-up}  
	{
		margin-top: 25px;
		margin-bottom: 60px;
	}

	span 
	{
		margin: 0 10px;
		font-size: rem-calc(12);
		line-height: rem-calc(12);
		display: inline-block;

		@media #{$medium-up}  
		{
			margin: 0 15px;
			font-size: rem-calc(14);
			line-height: rem-calc(14);
		}
	}
}