.entry-title 
{
    font-size: rem-calc(30);
    line-height: rem-calc(36);
    text-align: center;
    padding: 0;
    margin: 0;
    -ms-word-wrap: break-word;
	word-wrap: break-word;

	@media #{$medium-up}  
	{
		font-size: rem-calc(64);
   		line-height: rem-calc(72);
	}
}