
// Variables

$font-size-base:              rem-calc(12);
$font-family-base:            inherit;
$border-color-base:           transparent;
$border-color-active-base:    rgba(0, 0, 0, 0.1);
$color-highlight-base:        #ccc;

$font-icon:                   'FontAwesome';
$font-arrow-down:             '\f078';
$font-arrow-up:               '\f077';
$icon-size:                   rem-calc(10);

$arrow-wrapper-width:         2.143rem;

.select2-container {

	font-family: $font-family-base;

	.select2-choice {
		height: 2.4rem;
		padding: 0 0 0 15px;
		background-image: none;
		background-color: rgba(0, 0, 0, 0.05);
		border-radius: 0;
		border-color: $border-color-base;
		margin-bottom: 20px;

		> .select2-chosen {
			line-height: 2.4rem;
			font-size: $font-size-base;
			font-weight: bold;
			margin-right: 2.4rem;
		}

		.select2-arrow {
			background: none;
			width: $arrow-wrapper-width;
			border-left-color: $border-color-base;

			b {
				display: none;
			}

			&:before {
				position: absolute;
				width: $arrow-wrapper-width;
				content: $font-arrow-down;
				font-family: $font-icon;
				font-size: $icon-size;
				text-align: center;
				line-height: 2.3rem;
				opacity: .5;
			}
		}
	}

	// dropdown opens
	&.select2-dropdown-open {
		.select2-choice {
			background-color: #fff;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			.select2-arrow {
				border-left: 1px solid $border-color-base;

				&:before {
					content: $font-arrow-up;
					opacity: .7;
				}
			}
		}

		&.select2-container-active .select2-choice {
			box-shadow: none;
		}

		&.select2-drop-above .select2-choice {
			background-image: none;
			border-top: 1px solid $border-color-active-base;
			/*border-radius: 0 0 3px 3px;*/
		}
	}

	// when container is active
	&.select2-container-active {
		.select2-choice {
			border-color: $border-color-active-base;
			box-shadow: none;

			.select2-arrow {
				border-left-color: $border-color-active-base;
			}
		}
	}

	.select2-drop-active {
		border-color: $border-color-active-base;
	}

	&.select2-container-disabled .select2-choice {
		.select2-arrow {
			border-left: 1px solid lighten(#000,90%);
		}
	}

	// multiple select
	&.select2-container-multi {
		.select2-choices {
			min-height: 2.4rem;
			background-image: none;
			border-color: $border-color-base;
			/*border-radius: 3px;*/

			.select2-search-choice {
				position: relative;
				border-color: $border-color-base;
				background-image: none;
				box-shadow: none;
				font-size: $font-size-base;
				background-color: #ff0000;
				/*border-radius: 2px;*/
				padding-top: 0.2857rem;
				padding-bottom: 0.2857rem;
				line-height: 1.143rem;
				margin-left: 0.2143rem;
				margin-bottom: 0;

				&:before {
					position: absolute;
					top: 0.2857rem;
					left: 0.3571rem;
					font-family: $font-icon;
					content: '\f00d';
					z-index: 5;
					font-size: 0.7857rem;
				}
			}

			.select2-search-field input {
				font-family: $font-family-base;
				font-size: $font-size-base;
				margin: 0;
				padding-left: 0.5714rem;
				line-height: 1.5rem;
			}
		}

		&.select2-container-active {
			.select2-choices {
				box-shadow: none;
				border-color: $border-color-active-base;
			}

			&.select2-dropdown-open .select2-choices {
				/*border-radius: 3px 3px 0 0;*/
			}

			&.select2-drop-above .select2-choices {
				/*border-radius: 0 0 3px 3px;*/
			}
		}
	}

	.select2-search-choice-close {
		top: 0.3571rem;
		background: none;
		z-index: 10;
	}
}

.select2-drop {
	font-family: $font-family-base;
	border-color: $border-color-active-base;
	box-shadow: none;
	border-top: 1px solid $border-color-active-base;
	/*border-radius: 0 0 3px 3px;*/

	.select2-search {
		padding-top: 0.3571rem;
		position: relative;

		input {
			background-color: #fff;
			background-image: none;
			border-color: $border-color-active-base;
			font-size: $font-size-base;
			padding: 0.5rem 1.429rem 0.5rem 0.3571rem;
			margin: 0;
		}

		&:after {
			position: absolute;
			font-family: $font-icon;
			content: '\f002';
			top: 0.2rem;
			right: rem-calc(12);
			font-size: 1rem;
			opacity: .5;
		}
	}

	.select2-results {
		font-size: $font-size-base;
		padding: rem-calc(10);

		li {
			line-height: 1.42857;
		}

		.select2-highlighted {
			background-color: $color-highlight-base;
			/*border-radius: 2px;*/
		}
	}

	&.select2-drop-above {
		border-radius: 0;
		border-bottom: 1px solid $border-color-active-base;
		margin-top: -30px;

		.select2-search input {
			margin-top: 0;
		}

		&.select2-drop-active {
			border-top-color: $border-color-active-base;
		}
	}
}