@media #{$small-only} 
{ 
	h1
	{
		font-size: rem-calc(30);
	}


	h2 
	{
		font-size: rem-calc(24);
	}

	h3 
	{
		font-size: rem-calc(20);
	}

	h4
	{
		font-size: rem-calc(16);
	}

	h5 
	{
		font-size: rem-calc(14);
	}

	h6 
	{
		font-size: rem-calc(11);
	}

	p 
	{
		font-size: rem-calc(14);
	}
}

h6 
{
	letter-spacing: rem-calc(2.25px);

	a 
	{
		border-bottom-width: 2px;
		border-bottom-style: solid;
		margin-bottom: 4px;
	}
}